
.image-hover {
    display: flex;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3), -1px -1px 5px rgba(128, 128, 128, 0.3);
}

.edit-icon-profile {
    background-image: url(/assets/admin/img/edit-profile.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-out;
    z-index: 2;
}

.image-hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    border-radius: 50%;
    transition: opacity 0.3s ease-out;
    z-index: 1;
}

.image-hover:hover .edit-icon-profile {
    opacity: 1;
}

.image-hover:hover::before {
    opacity: 1;
}
